@mixin teamper-login-module {

  .loginView {
  }

  .login-panel {
    @include valo-panel-style;
    padding: round($v-unit-size / 1.5) round($v-unit-size / 1.5);
    min-width: $v-font-size * 13;
    max-width: 90%;

    > .v-spacing {
      height: round($v-unit-size / 2);
    }

    .labels {
      display: block;
      .h4 {
        margin: 0;
        vertical-align: baseline;
      }
      .h3 {
        margin: 0;
      }
    }

    .fields .v-icon {
      opacity: 0.3;
    }

    @include width-range($min: 0, $max: $v-unit-size * 14) {
      .labels .h3 {
        display: block;
      }

      .fields {
        display: block;
        .v-slot {
          display: block;
          .v-widget {
            width: 100%;
          }
        }
      }
    }
  }
}
